* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 227, 232);
}

.titulo {
    padding-right: 200px;   
}

.navbar {
    text-decoration: none;
}

.navbar-nav {
    margin-right: 80px;    
}

.linea {
    height: 25px;
    width: 100%;
    background-color: #ff98a9;
    font-size: 5px;
    color: white; 
    padding-left: 150px; 
    padding-top: 15px;
}

.carousel {
    margin-top: 20px;
}

/*
    Estilo de los productos destacados
*/

.tarjeta {
    margin: 150px auto;
    margin-left: 50px;
    text-align: center;
}

.tarjeta h2 {
    color: #ff98a9;
    margin-bottom: 100px;
    margin-right: 50px;
}

.card {
    border: none;
    background-color: rgb(255, 227, 232);
}

.card-img-top {
    border-radius: 20px;
}

.sanrio {
    position: absolute;
    width: 80px;
    left: 240px;
    top: 150px;
}
